<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Representation of Audio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5 flex flex-col justify-center" style="display: flex; flex-direction: column;">
        <h1 class="mb-4 text-center">Color Representation of Audio</h1>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Spectrogram" class="img-fluid">
        <div class="mt-3" style="width: 100%;display: flex;justify-content: center;">
            <a href="/" class="btn btn-primary">Upload Another Audio</a>
        </div>
    </div>
</body>
</html>
