<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Representation of Text</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .chunk {
            display: inline-block;
            margin-bottom: 10px;
        }
        .chunk img {
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px;
            border: 1px solid #ccc;
            cursor: pointer;
            height: 45px;
            width: 45px;
        }
        .chunk img:hover {
            transform: scale(1.3);
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Color Representation of Text</h1>
        {% for chunk in image_chunks %}
        <div class="chunk">
            <img src="data:image/png;base64,{{ chunk }}" alt="Generated Image" class="img">
        </div>
        {% endfor %}
    </div>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Color Code</h2>
        <textarea id="colorCode" class="form-control" rows="5" readonly>
            {{ color_code }}
        </textarea>
    </div>
    <div class="container mt-5">
        <button id="copyButton" class="btn btn-primary">Copy to Clipboard</button>
        <button style="border: 0px; padding: 0px;">
            <a href="/text-to-color" class="btn btn-primary">Convert Another Text</a>
        </button>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
            var copyText = document.getElementById('colorCode');
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand('copy');
            alert("Copied the color code: " + copyText.value);
        });
    </script>
</body>
</html>
